h1{
    font-size: 60px;
    color: #F27B1F;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: light !important;
}

h2{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-top: 35px;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-top: 10px;
    color: orange;
    margin-top: 25px;
}

h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-top: 10px;

}

p{
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}
.container{
    padding-left: 75px;
    padding-right: 75px;
  }

.h1app{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 30px;
    color: #525252;
    text-shadow: 3px 2px 3px rgba(160, 160, 160, 1);
}

.h2app{
    font-family: 'Lato', sans-serif;
    font-weight: medium;
    font-size: 25px;
    padding-bottom: 20px;
    color: #525252;
}

.h3app{
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    color: #525252;
}

.textapp{
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}

.h1watch{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    text-shadow: 3px 2px 3px rgba(50, 50, 50, 0.404);
}

.h2watch{
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 15px;
    color: #525252;
}

.textwatch{
    font-family: 'News Cycle', sans-serif;
    font-size: 12px;
}

.backgroundwatch{
    background: rgb(242,123,31);
    background: linear-gradient(90deg, rgba(242,123,31,1) 0%, rgba(216,21,130,1) 100%);
}